body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  animation: fadeIn 1s ease-in-out;
}

header, footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 2px ;
  animation: slideInDown 1s ease-in-out;
}

h1, h2 {
  margin-top: 10px;
  animation: slideInLeft 1s ease-in-out;
}

main {
  max-width: 800px;
  margin: 10px auto;
  padding: 20px;
  animation: slideInRight 1s ease-in-out;
}

.button-container {
  text-align:center;
}

button {
  background-color: #d9602c;
  color: rgb(249, 249, 249);
  padding: 10px 30px;
  border:double;
  border-radius: 40px;
  cursor: pointer;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #18336d;
  transform: scale(1.05);
}

input[type="text"] {
  padding: 10px 50px;
  border-radius: 40px;
  border: 1px solid #49d92c;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(73, 217, 44, 0.8);
  border: 1px solid rgba(73, 217, 44, 0.8);
}

#attendance-report-container {
  margin-top: 20px;
  border-radius: 40px;
  padding: 10px 5px 7px 8px ;
  background-color: rgba(255, 255, 255, 0.3); /* Opaque white background with 70% opacity */
  animation: slideInUp 1s ease-in-out;
}

.action-buttons {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: slideInUp 1s ease-in-out;
}

#WhatsApp {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(45deg, #14a73e, #00ffd5);
  border: none;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#WhatsApp:hover {
  background: linear-gradient(45deg, #00ffd5, #14a73e);
  transform: scale(1.05);
}

.end-text {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  left: 50%; /* Center the text horizontally */
  transform: translateX(-50%); /* Offset the text to compensate for centering */
  text-align: center; /* Optional: Center the text content */
  animation: slideInUp 1s ease-in-out;
}

#print-button {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: all 0.3s ease-in-out;
}

#print-button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-print-button {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#print-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

#help-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border:none;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

#help-button:hover {
  background-color: #fff;
  color: #333;
}

#help-text {
  margin-top: 20px;
  text-align: left;
  padding: 10px 30px;;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  animation: slideInUp 1s ease-in-out;
}

#help-text p {
  margin-bottom: 10px;
}